<% include header %>
<h1>here are the details!</h1>
<h4> <%= campground.name %></h4>
<img src="<%= campground.image %>">
<h2><%= campground.description%></h2>
<p><em>submitted  by : <%= campground.author.username %></em></p>


<% if(currentUser  && campground.author.id.equals(currentUser._id)){ %>
<a  class="btn btn-warning" href="/campgrounds/<%=campground._id%>/edit">edit</a>
<form style="display: inline;"  action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST"> 
    <button class="btn btn-danger">delete</button>
</form>
<% }  %>


<a  class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">add new  comment</a>
<%  campground.comments.forEach(function(comment){  %>
        <p>
            <strong><%=comment.author.username %></strong>  - <%=comment.text %>
        </p>
        <% if(currentUser  && comment.author.id.equals(currentUser._id)){ %>
        <a class="btn btn-warning" href="/campgrounds/<%=  campground._id %>/comments/<%= comment.id %>/edit">edit comment</a>
        <form style="display: inline;"  action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST"> 
            <button class="btn btn-danger">delete comment </button>
        </form>
        <% }  %>
<% }) %> 

